.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
.box1,.box2,.box3{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin: 3px;
}
@media screen and (max-width: 600px) {
			.box {
				width: 100px;
				height: 100px;
				font-size: 1rem;
			}
		}
